<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
	<link rel="stylesheet" href="/main.css">
	<script src="https://unpkg.com/htmx.org@1.9.2/dist/htmx.min.js"></script>
</head>

<body>
	{{ module("navbar") }}
	<main class="container-fluid">
		<form hx-get="/hello">
			<label for="name">
				<input type="text" name="name" id="name" />
			</label>
			<button>Submit</button>
		</form>
		<form hx-get="/hello">
			<label for="name">
				<input type="text" name="name" id="name" />
			</label>
			<button>Submit</button>
		</form>
		<div id="lipsum">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec lacus in dui interdum interdum et
				vitae
				lorem. Curabitur eu quam faucibus, tristique ipsum quis, pellentesque mauris. Aenean id urna eget quam
				porttitor
				tincidunt. Aliquam at leo eu velit sagittis condimentum. Mauris lacus nibh, varius eu purus id,
				tincidunt
				viverra nisl. Nunc non enim nec ligula gravida efficitur. Proin vitae porta sem, eget finibus neque.
				Aliquam
				consectetur massa leo, ac vehicula metus lacinia eu. Donec sollicitudin dui leo. Mauris ut nisl nec
				lectus
				placerat eleifend. Quisque metus magna, vestibulum eget sapien at, pretium laoreet nibh. Duis rhoncus,
				dolor ut
				sodales lacinia, arcu dui auctor enim, vitae fermentum magna nulla ac nisi. Donec lobortis ante vel
				massa congue
				pharetra. Vestibulum vestibulum luctus lectus et ultricies. Etiam finibus accumsan faucibus. Duis
				sollicitudin
				sapien vel lectus pharetra, sit amet volutpat arcu malesuada.
			</p>
			<p>
				Phasellus augue elit, fermentum in metus eget, aliquet ultricies leo. Suspendisse tincidunt porta dui ut
				ultrices. Ut tortor urna, semper et elementum vel, pellentesque a nibh. In imperdiet consequat elit,
				eget mollis
				quam lacinia ac. Pellentesque vulputate cursus facilisis. Vestibulum pretium turpis eu massa mattis
				tempor.
				Vestibulum mollis euismod risus. Nunc rhoncus sapien a nisl tincidunt laoreet. Ut placerat consectetur
				bibendum.
				Nullam porttitor velit erat, id vehicula nisi aliquam at. Vivamus nec congue lectus.
			</p>
			<p>
				Sed suscipit, dui eu aliquet dignissim, sapien dui fringilla quam, id suscipit diam velit vitae ligula.
				Mauris
				bibendum cursus consequat. Quisque ac turpis elit. Nulla lacinia vulputate elit at eleifend. Aenean
				risus
				mauris, accumsan at bibendum non, semper nec erat. Fusce hendrerit condimentum felis, vel pretium dolor.
				Nullam
				fermentum tempor ipsum quis eleifend.
			</p>
			<p>
				Integer tempus lacus tortor, at tempor dui finibus vitae. Nunc tincidunt elit a velit aliquet, vitae
				scelerisque
				leo venenatis. Curabitur nunc diam, eleifend pretium massa nec, vehicula blandit nibh. Curabitur
				elementum
				fringilla erat, vitae mollis est blandit et. Nunc aliquet ligula ex, ut fermentum nulla volutpat in. Nam
				faucibus fermentum vestibulum. Curabitur vitae augue tortor. Maecenas egestas sapien at lacus tincidunt,
				in
				finibus felis egestas. Sed egestas posuere venenatis. Nullam in nisl at risus aliquam condimentum. Morbi
				tincidunt nulla id felis volutpat feugiat.
			</p>
			<p>
				Praesent feugiat ligula eros, eu vehicula quam ultricies non. Donec vulputate lobortis mi, eget faucibus
				est
				fermentum a. Vestibulum eu hendrerit quam, condimentum aliquam dolor. Phasellus sodales, augue at
				imperdiet
				porttitor, tellus mi lacinia velit, sed semper nisi diam id nisi. Suspendisse vel euismod ipsum. Etiam
				velit
				dolor, viverra nec ullamcorper quis, molestie in massa. Ut eget quam non nibh blandit posuere nec sit
				amet leo.
				Donec sem odio, mollis ac ex id, tempus venenatis lorem.
			</p>
		</div>
	</main>
</body>

</html>