<header>
	<details role="list">
		<summary aria-haspopup="listbox" class="flex">
			<div>
				<hgroup role="img">
					<strong>carteris</strong><span>.</span><strong>online</strong>
				</hgroup>
				{{ module("splash") }}
			</div>
		</summary>
		<div role="listbox">
			<button role="link" class="product-card">
				<img src="/assets/hyro.svg" alt="HYRO logo" />
				<caption>Hypermedia Rust Orchestration</caption>
			</button>
		</div>
	</details>
</header>